//import 
@import"./componentes/reset";
@import"./componentes/mixin";
@import"base/variables";
@import"./componentes/home";
@import"./componentes/trabajos";
@import"./componentes/sobre-mi";
@import"./componentes/ubicacion";
@import"./componentes/contacto";
@import"./componentes/footer";


 /*body*/
body{ background-color: $color-background;
font-family:sans-serif;
}

header{
    nav{
    .navbar{ background-color: $color-background
}
.navbar-nav .nav-link{color: whitesmoke;}

.navbar-brand { color: whitesmoke;}
a{color: whitesmoke;}
}
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28150, 37, 41, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

@import"./componentes/mediaq";

