/*trabajos*/
.contenedor-uno{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    margin: 20px;

    .img{
        width: 100%;
    }
}

.contenedor-dos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    margin: 20px;
    
    .img{
        width: 100%;
    }
}

h1{text-align: center;
    margin: 16px;
    padding: 16px;
    color: $color-texto-principal;}
h2{
    text-align: center;
    margin: 16px;
    padding: 16px;
    color: $color-texto-principal
}
